<!-- <h1 style="color: rgb(226, 12, 12);"> welcome to my first angular project</h1> -->

<!-- <h3> output</h3>
<p>value of num:-{{num}}</p>
<hr>

<h2>array</h2>
<p> courses :-{{courses}}</p>
<p>{{courses[3]}}</p>
<p>{{courses[2]}}</p>
<hr>

<p>Addition = {{20+34}}</p>
<hr>

<h2>object</h2>
<p>{{student.name}}</p>
<p>{{student.age}}</p>
<p>{{student.city}}</p>
<p>{{student.marks}}</p>
<hr>

<h2>Function</h2>
<p>{{Employees[0].name}}</p>

<div> 
    <h3>ngFor Example</h3>
    <ul *ngFor="let i of Employees">
         <li> <pre>{{i.name}} {{i.sal}} {{i.country}} {{i.deptno}} {{i.role}}</pre></li>
    </ul>
</div>
<hr>
<h1>this is firstcom</h1>
<app-firstcom></app-firstcom>
<hr>
<h1>this is secondcomp</h1>
<app-secondcomp></app-secondcomp>
<br><br><hr>

<h1>assignmen</h1>
<h2>User-Information</h2>
 <app-assignment-comp></app-assignment-comp>
 <hr>

 <ng-container *ngif="loggedIn; then login; else logout">
 </ng-container>

 <ng-template #login>
    <p>hello<strong>admin</strong></p>
 </ng-template>

 <ng-template #logout>
    <p>hello<strong>student</strong></p>
 </ng-template>
 <br><br><hr>

 <h1>this is data-binding & event handling</h1>
 <app-data-binding-comp> </app-data-binding-comp>
<br><br>


 <h1>this is pipe-comp</h1>
 <app-pipe-comp></app-pipe-comp>
 <br><br> -->


 <h1>this is routing comp</h1>
 <app-routing-comp></app-routing-comp>
 <router-outlet></router-outlet>



